<div class="p-card">
  <div class="headline">
    <span>Order Overview</span>
  </div>
  @if (cart().length === 0) {
    <p>No items in the cart</p>
  }

  @if (cart().length > 0) {
    <div id="cart-content">
      <div id="products-wrapper">
        @for (product of cart(); track product.identifier) {
          <div class="single-product-wrapper p-card">
            <div class="flex-row space-around">
              <div>
                <span>{{ 3 }}</span>
              </div>
              <div>
                <span>{{ product.description }}</span>
              </div>
              <div>
                <span>{{ 20.49 | currency }}</span>
              </div>
            </div>
            <div class="description">
              <span>aolöskdakslpjdlkasjdlkasjdlasjdlasdjkl</span>
            </div>
            <div class="flex-row button-group-quantity">
              <button pButton type="button" icon="pi pi-plus" (click)="add(product)"></button>
              <span>3</span>
              <button pButton type="button" icon="pi pi-minus" (click)="remove(product)"></button>
            </div>
          </div>
        }
      </div>
      <div class="flex-row justify-content-end">
        <span>Total: {{ total() }}</span>
      </div>
      <div class="flex-row justify-content-end">
        <button pButton type="button" label="Order" (click)="order()"></button>
      </div>
    </div>
  }
</div>
