.p-card {
  height: 100%;
  padding: 0 20px;
  margin: 0 10px;
}

.headline {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
}

#products-wrapper {
  flex-wrap: wrap;
  margin-bottom: 20px;

  .single-product-wrapper {
    padding: 10px 20px;

    > div {
      padding: 10px 0;
    }

    .quantity {
      min-width: 2ch;
    }

    .name {
      min-width: 20ch;
    }

    .total {
      min-width: 6ch;
    }

    .button-group-quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
  }
}

#total {
  padding: 10px 0;
}

#order-wrapper {
  padding: 10px 0;
}
