<div class="p-card">
  <div class="headline">
    <span>Order Overview</span>
  </div>
  @if (cart().length === 0) {
    <p>No items in the cart</p>
  }

  @if (cart().length > 0) {
    <div id="cart-content">
      <div id="products-wrapper">
        @for (product of cart(); track product.identifier; let last = $last) {
          <div class="single-product-wrapper">
            <div class="flex-row space-around">
              <div>
                <span>{{ quantity }}</span>
              </div>
              <div>
                <span class="text-underline">{{ product.description }}</span>
              </div>
              <div>
                <span>{{ 20.49 | currency:'EUR'}}</span>
              </div>
            </div>
            <div class="description">
              <span>mit Käse überbacken</span>
            </div>
            <div class="flex-row button-group-quantity">
              <p-button icon="pi pi-plus" (click)="add(product)" rounded></p-button>
              <span>{{quantity}}</span>
              <p-button icon="pi pi-minus" (click)="remove(product)" rounded></p-button>
            </div>
          </div>
          @if (!last) {
            <p-divider></p-divider>
          }
        }
      </div>
      <div id="total">
        <span>Total: {{ total() }}</span>
      </div>
      <div id="order-wrapper">
        <p-button class="w-100" styleClass="w-100" type="button" label="Order" (click)="order()"></p-button>
      </div>
    </div>
  }
</div>
