.headline {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}
.product-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;

  .p-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .p-col {
      display: flex;
      flex-direction: column;

      .headline {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .description {
        margin-bottom: 10px;
      }

      .price {
        font-weight: bold;
        margin-top: 0.5rem;
      }
    }
  }


}

