<div class="p-card">
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
<!--        @for (column of columns; track $index) {-->
<!--          <th>{{ column.header }}</th>-->
<!--        }-->
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
<!--        @for (column of columns; track $index) {-->
<!--          <td>{{ rowData[column.field] }}</td>-->
<!--        }-->
        <td>{{ product.identifier }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button pButton type="button" icon="pi pi-shopping-cart" (click)="addToCart(product)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
