/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "normalize.css" layer(normalize-reset);

@layer normalize, primeng;

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;

  > div {
    display: flex;
    flex-direction: column;
  }
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.text-underline {
  text-decoration: underline;
}
